<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COVID-19 Statistic</title>
    <link rel="stylesheet" href="../style.css" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <%- include('includes/header.ejs') %>

    <main>
        <div class="col-md-8 col-xd-8">
            <table id="stat-table" class="table table-striped">
                <thead class="thead-light">
                    <tr>
                        <th>State</th>
                        <th>Confirmed Case</th>
                        <th>Active</th>
                        <th>Discharged</th>
                        <th>Deaths</th>
                        <th>% Total</th>
                        <th>% Active</th>
                        <th>% Discharged</th>
                        <th>% Deaths</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let index = 1; index < listObj_length; index++) { %>
                        <tr>
                            <td><%= list[index].stateAffected %></td>
                            <td><%= list[index].confirmedCase %></td>
                            <td><%= list[index].activeCases %></td>
                            <td><%= list[index].discharged %></td>
                            <td><%= list[index].death %></td>
                        </tr>
                    <% } %>
            </tbody>
            </table>
        </div>
    </main>
</body>
</html>