<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COVID-19 Statistic</title>
    <link rel="stylesheet" href="../style.css" type="text/css">
</head>
<body>
    <header class="main_header">
        <nav class="main_img_nav">Hyy</nav> <!--Covid Img-->
    
        <nav class="main_nav">
            <ul>
                <li class="main_nav_items">Isolation Centers</li>
                <li class="main_nav_items">Statistic</li>
                <li class="main_nav_items">Precaution</li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="col-md-8 col-xd-8">
            <table id="stat-table" class="table">
                <thead class="thead-light">
                    <tr>
                        <th>State</th>
                        <th>Confirmed Case</th>
                        <th>Active</th>
                        <th>Discharged</th>
                        <th>Deaths</th>
                        <th>% Total</th>
                        <th>% Active</th>
                        <th>% Discharged</th>
                        <th>% Deaths</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let index = 1; index < listObj.length - 1; index++) { %>

                        <tr>
                            <td><%= listObj[index].stateAffected %></td>
                            <td><%= listObj[index].confirmedCase %></td>
                            <td><%= listObj[index].activeCases %></td>
                            <td><%= listObj[index].discharged %></td>
                            <td><%= listObj[index].death %></td>
                        </tr>
                    <% } %>
            </tbody>
            </table>
        </div>
    </main>
</body>
</html>